/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    padding: 25px;
}

.card-header .mat-content {
    justify-content: space-around;
}

.field.mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
}

.field.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white !important;
}

.field.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
    color: white !important;
}

.field .mat-form-field-wrapper {
    padding: 0 !important;
}