.data-table {
    width: 100%;
    overflow-x: auto;
} 

.data-table td {
    width: 50px;
}

.data-table .row-name {
    font-weight: bold;
    font-style: italic;
}

mat-label {
    font-weight: bold;
    width: 150px;
}

.label {
    width: 150px !important;
}

.member {
    display: flex;
}

.packet-card {
    margin-bottom: 20px;
}

.overflow {
    overflow-x: auto;
}